@tailwind base;
@tailwind components;
@tailwind utilities;

/* font */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

.poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

/* * {
    @apply 
} */

body {
    @apply bg-gradient-to-t from-[#f1f1f1] to-slate-300
}

.bg-b {
    @apply bg-gradient-to-b from-[#f1f1f1] to-slate-300
}

.bg-t {
    @apply bg-gradient-to-t from-[#f1f1f1] to-slate-300
}

.bg-l {
    @apply bg-gradient-to-l from-[#f1f1f1] to-slate-300
}

.bg-r {
    @apply bg-gradient-to-r from-[#f1f1f1] to-slate-300
}

.bg-tr {
    @apply bg-gradient-to-tr from-[#f1f1f1] to-slate-300
}

.bg-br {
    @apply bg-gradient-to-br from-[#f1f1f1] to-slate-300
}

.bg-bl {
    @apply bg-gradient-to-bl from-[#f1f1f1] to-slate-300
}

/* Define the sliding animation */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
        /* Start from the right */
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        /* End at the original position */
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        /* Start from the original position */
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        /* Move to the left */
        opacity: 0;
    }
}

/* Add the sliding animation classes */
.animate-slide-in {
    animation: slideIn 0.2s ease-in-out forwards;
}

.animate-slide-out {
    animation: slideOut 0.2s ease-in-out forwards;
}